@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  color: hsl(233, 8%, 62%);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.nav-links > div:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.invite-btn {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  color: white;
  border-radius: 50px;
  padding: 12px 34px;
}

.invite-btn:hover {
  opacity: .8;
  cursor: pointer;
}

header {
  color: hsl(233, 26%, 24%);
  font-size: 44px;
  font-weight: 300;
}

article {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro {
  background-color: hsl(0, 0%, 98%);
  height: 600px;
  display: flex;
  align-items: center;
}

.lhs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 37%;
  margin: 8%;
}

.rhs-content {
  height: 100%;
  width: 55%;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 8% 60%; 
}

.mockups {
  position: absolute;
  height: 800px;
}

.cover {
  left: 60%;
  width: 40%;
  object-fit: none;
  object-position: left bottom;
}